USE [master]
GO
/****** Object:  Database [attendance_system]    Script Date: 2026/4/6 22:03:49 ******/
CREATE DATABASE [attendance_system] ON  PRIMARY 
( NAME = N'attendance_system', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\attendance_system.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'attendance_system_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\attendance_system_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [attendance_system].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [attendance_system]
GO
/****** Object:  Table [dbo].[attendance]    Script Date: 2026/4/6 22:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attendance](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[attendance_date] [date] NOT NULL,
	[check_in_time] [datetime2](7) NULL,
	[check_out_time] [datetime2](7) NULL,
	[status] [nvarchar](20) NULL,
	[seat_location] [nvarchar](50) NULL,
	[remark] [nvarchar](255) NULL,
	[create_time] [datetime2](7) NULL,
	[update_time] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course]    Script Date: 2026/4/6 22:03:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[course_code] [nvarchar](20) NOT NULL,
	[course_name] [nvarchar](100) NOT NULL,
	[teacher_id] [int] NULL,
	[class_time] [nvarchar](100) NULL,
	[class_room] [nvarchar](50) NULL,
	[capacity] [int] NULL,
	[seat_layout] [nvarchar](500) NULL,
	[description] [nvarchar](500) NULL,
	[status] [int] NULL,
	[create_time] [datetime2](7) NULL,
	[update_time] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course_selection]    Script Date: 2026/4/6 22:03:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course_selection](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[seat_location] [nvarchar](50) NULL,
	[selection_date] [datetime2](7) NULL,
	[status] [int] NULL,
	[score] [decimal](5, 2) NULL,
	[create_time] [datetime2](7) NULL,
	[update_time] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 2026/4/6 22:03:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[real_name] [nvarchar](50) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[student_no] [nvarchar](20) NULL,
	[teacher_no] [nvarchar](20) NULL,
	[class_name] [nvarchar](50) NULL,
	[phone] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[status] [int] NULL,
	[create_time] [datetime2](7) NULL,
	[update_time] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[attendance] ON 

INSERT [dbo].[attendance] ([id], [student_id], [course_id], [attendance_date], [check_in_time], [check_out_time], [status], [seat_location], [remark], [create_time], [update_time]) VALUES (1, 4, 1, CAST(N'2026-04-01' AS Date), CAST(N'2026-04-01T08:55:00.0000000' AS DateTime2), NULL, N'present', N'A区-3排-5座', NULL, CAST(N'2026-04-01T23:45:42.4730000' AS DateTime2), CAST(N'2026-04-01T23:45:42.4730000' AS DateTime2))
INSERT [dbo].[attendance] ([id], [student_id], [course_id], [attendance_date], [check_in_time], [check_out_time], [status], [seat_location], [remark], [create_time], [update_time]) VALUES (2, 5, 1, CAST(N'2026-04-01' AS Date), CAST(N'2026-04-01T09:05:00.0000000' AS DateTime2), NULL, N'late', N'B区-4排-2座', NULL, CAST(N'2026-04-01T23:45:42.4730000' AS DateTime2), CAST(N'2026-04-01T23:45:42.4730000' AS DateTime2))
INSERT [dbo].[attendance] ([id], [student_id], [course_id], [attendance_date], [check_in_time], [check_out_time], [status], [seat_location], [remark], [create_time], [update_time]) VALUES (3, 6, 2, CAST(N'2026-04-01' AS Date), CAST(N'2026-04-01T14:00:00.0000000' AS DateTime2), NULL, N'present', N'中排-3排-4座', NULL, CAST(N'2026-04-01T23:45:42.4770000' AS DateTime2), CAST(N'2026-04-01T23:45:42.4770000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[attendance] OFF
GO
SET IDENTITY_INSERT [dbo].[course] ON 

INSERT [dbo].[course] ([id], [course_code], [course_name], [teacher_id], [class_time], [class_room], [capacity], [seat_layout], [description], [status], [create_time], [update_time]) VALUES (1, N'CS101', N'Java程序设计', 2, N'周一1-2节', N'教学楼A-101', 50, NULL, NULL, 1, CAST(N'2026-04-01T23:45:42.4430000' AS DateTime2), CAST(N'2026-04-01T23:45:42.4430000' AS DateTime2))
INSERT [dbo].[course] ([id], [course_code], [course_name], [teacher_id], [class_time], [class_room], [capacity], [seat_layout], [description], [status], [create_time], [update_time]) VALUES (2, N'CS102', N'数据库原理', 3, N'周三3-4节', N'教学楼B-202', 40, NULL, NULL, 1, CAST(N'2026-04-01T23:45:42.4470000' AS DateTime2), CAST(N'2026-04-01T23:45:42.4470000' AS DateTime2))
INSERT [dbo].[course] ([id], [course_code], [course_name], [teacher_id], [class_time], [class_room], [capacity], [seat_layout], [description], [status], [create_time], [update_time]) VALUES (3, N'CS103', N'Web前端开发', 2, N'周五5-6节', N'教学楼A-203', 45, NULL, NULL, 1, CAST(N'2026-04-01T23:45:42.4470000' AS DateTime2), CAST(N'2026-04-01T23:45:42.4470000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[course] OFF
GO
SET IDENTITY_INSERT [dbo].[course_selection] ON 

INSERT [dbo].[course_selection] ([id], [student_id], [course_id], [seat_location], [selection_date], [status], [score], [create_time], [update_time]) VALUES (1, 4, 1, N'A区-3排-5座', CAST(N'2026-04-01T23:45:42.4530000' AS DateTime2), 1, NULL, CAST(N'2026-04-01T23:45:42.4530000' AS DateTime2), CAST(N'2026-04-01T23:45:42.4530000' AS DateTime2))
INSERT [dbo].[course_selection] ([id], [student_id], [course_id], [seat_location], [selection_date], [status], [score], [create_time], [update_time]) VALUES (2, 5, 1, N'B区-4排-2座', CAST(N'2026-04-01T23:45:42.4570000' AS DateTime2), 1, NULL, CAST(N'2026-04-01T23:45:42.4570000' AS DateTime2), CAST(N'2026-04-01T23:45:42.4570000' AS DateTime2))
INSERT [dbo].[course_selection] ([id], [student_id], [course_id], [seat_location], [selection_date], [status], [score], [create_time], [update_time]) VALUES (3, 6, 2, N'中排-3排-4座', CAST(N'2026-04-01T23:45:42.4600000' AS DateTime2), 1, NULL, CAST(N'2026-04-01T23:45:42.4600000' AS DateTime2), CAST(N'2026-04-01T23:45:42.4600000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[course_selection] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([id], [username], [password], [real_name], [role], [student_no], [teacher_no], [class_name], [phone], [email], [status], [create_time], [update_time]) VALUES (1, N'admin', N'123456', N'系统管理员', N'admin', NULL, NULL, NULL, N'13800000000', N'admin@school.edu.cn', 1, CAST(N'2026-04-01T23:45:42.4200000' AS DateTime2), CAST(N'2026-04-01T23:45:42.4200000' AS DateTime2))
INSERT [dbo].[user] ([id], [username], [password], [real_name], [role], [student_no], [teacher_no], [class_name], [phone], [email], [status], [create_time], [update_time]) VALUES (2, N'teacher001', N'123456', N'张教授', N'teacher', NULL, N'T2024001', NULL, N'13800000001', N'zhang@school.edu.cn', 1, CAST(N'2026-04-01T23:45:42.4230000' AS DateTime2), CAST(N'2026-04-01T23:45:42.4230000' AS DateTime2))
INSERT [dbo].[user] ([id], [username], [password], [real_name], [role], [student_no], [teacher_no], [class_name], [phone], [email], [status], [create_time], [update_time]) VALUES (3, N'teacher002', N'123456', N'李老师', N'teacher', NULL, N'T2024002', NULL, N'13800000002', N'li@school.edu.cn', 1, CAST(N'2026-04-01T23:45:42.4230000' AS DateTime2), CAST(N'2026-04-01T23:45:42.4230000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[user] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__course__AB6B45F15DCAEF64]    Script Date: 2026/4/6 22:03:50 ******/
ALTER TABLE [dbo].[course] ADD UNIQUE NONCLUSTERED 
(
	[course_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__user__F3DBC5725441852A]    Script Date: 2026/4/6 22:03:50 ******/
ALTER TABLE [dbo].[user] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[attendance] ADD  DEFAULT ('absent') FOR [status]
GO
ALTER TABLE [dbo].[attendance] ADD  DEFAULT (getdate()) FOR [create_time]
GO
ALTER TABLE [dbo].[attendance] ADD  DEFAULT (getdate()) FOR [update_time]
GO
ALTER TABLE [dbo].[course] ADD  DEFAULT ((30)) FOR [capacity]
GO
ALTER TABLE [dbo].[course] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[course] ADD  DEFAULT (getdate()) FOR [create_time]
GO
ALTER TABLE [dbo].[course] ADD  DEFAULT (getdate()) FOR [update_time]
GO
ALTER TABLE [dbo].[course_selection] ADD  DEFAULT (getdate()) FOR [selection_date]
GO
ALTER TABLE [dbo].[course_selection] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[course_selection] ADD  DEFAULT (getdate()) FOR [create_time]
GO
ALTER TABLE [dbo].[course_selection] ADD  DEFAULT (getdate()) FOR [update_time]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT (getdate()) FOR [create_time]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT (getdate()) FOR [update_time]
GO
USE [master]
GO
